@if (services().length > 0) {
    <div class="space-y-4 mt-6" >
        <mat-accordion>
            @for (c of services(); track $index) {
                <mat-expansion-panel class="bg-white shadow rounded-lg">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-sm md:text-base font-medium text-blue-900">
                            Ancillary Service #{{$index + 1}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- Diagnoses -->
                        <div>
                            <h4 class="font-semibold text-gray-800 mb-1">Services</h4>
                            <ul class="list-disc list-inside text-gray-700 text-sm">
                                @for (d of c.services ?? []; track d) {
                                    <li>{{ d }}</li>
                                }
                            </ul>
                        </div>

                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>
    </div>
} @else {
    <ng-template>
        <p class="text-center text-gray-600 italic mt-6">No ancillary records found.</p>
    </ng-template>
}




