@if (triages().length > 0) {
    <mat-accordion multi class="pt-5">
        @for (t of triages(); track trackByFn($index, t)){
            <mat-expansion-panel>
                <!-- Summary (Header) -->
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{ t.createdDate | date: 'short' }} — {{ t.weight }} kg — BP: {{ t.systolicBp }}/{{ t.diastolicBp }}
                    </mat-panel-title>
                    <mat-panel-description>
                        Click to view full details
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!-- Full Details -->
                <div class="grid grid-cols-2 gap-4 text-lg p-2">
                    <div><strong>Temperature:</strong> {{ t.temperature }} °C</div>
                    <div><strong>Pulse Rate:</strong> {{ t.pulseRate }} bpm</div>
                    <div><strong>Respiratory Rate:</strong> {{ t.respiratoryRate }} /min</div>
                    <div><strong>Height:</strong> {{ t.height }} m</div>
<!--                    <div><strong>Diabetes:</strong> {{ t.diabetes }}</div>-->
<!--                    <div><strong>Asthma:</strong> {{ t.asthma }}</div>-->
<!--                    <div><strong>Sickle Cell:</strong> {{ t.sickleCell }}</div>-->
<!--                    <div><strong>Smoking:</strong> {{ t.smoking }}</div>-->
<!--                    <div class="col-span-2"><strong>Recorded By:</strong> {{ t.createdBy }}</div>-->
                </div>
                <div class="w-full md:w-1/3">
                    <div class="p-2 border rounded-md bg-gray-50 h-full flex items-center justify-between">
                        <span class="font-medium text-gray-700">BMI:</span>
                        <span class="font-semibold text-blue-700">{{ computeBMI(t.weight, t.height) || '—' }}</span>
                    </div>
                </div>
            </mat-expansion-panel>
        }
    </mat-accordion>
} @else {
    <ng-template #noData>
        <p class="text-gray-500 italic">No triage records found for this patient.</p>
    </ng-template>

}



