<div class="flex flex-col flex-auto p-6 md:p-8">

    <ng-container>
        <!-- Header -->
        <div class="relative w-full h-30 sm:h-38 px-8 sm:px-12 bg-accent-100 dark:bg-transparent">
            <!-- Close button -->
            <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
                <a
                    mat-icon-button
                    [matTooltip]="'Close'"
                    (click)="closeDrawer()">
                    <mat-icon
                        class="text-gray"
                        [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
                </a>
            </div>
        </div>

        <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
            <div class="w-full max-w-6xl">
                <h2 class="text-xl font-semibold">Drugs Dispense</h2>
            </div>

            @if (prescriptionArray().length > 0) {
                @for (p of prescriptionArray(); track trackByFn($index, p)) {
                    <div class="p-4 w-full rounded-xl shadow-md space-y-4 mt-4">
                        <div class="text-base font-semibold">
                            {{ p.drugName }} ({{ p.dosage }}) - {{ p.frequency }} for {{ p.duration }}
                        </div>

                        <mat-form-field class="w-full">
                            <mat-label>Dispensation Status</mat-label>
                            <mat-select [(ngModel)]="p.status">
                                <mat-option value="DISPENSED">Dispensed</mat-option>
                                <mat-option value="DECLINED">Declined</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!--<mat-form-field class="w-full">
                            <mat-label>Quantity Dispensed</mat-label>
                            <input type="number" matInput [(ngModel)]="p.quantityDispensed" placeholder="Enter quantity" />
                        </mat-form-field> -->

                        <mat-form-field appearance="fill" class="w-full">
                            <mat-label>Dispensation Note</mat-label>
                            <textarea matInput [(ngModel)]="p.dispensationNote" rows="3"></textarea>
                        </mat-form-field>
                    </div>
                }

                <div class="mt-5">
                    <button mat-flat-button color="primary" (click)="submitDispensations()">Dispense</button>
                </div>
            } @else {
                <p class="text-gray-500 text-center">No prescriptions found for this patient.</p>
            }

        </div>

    </ng-container>

</div>


