<fuse-vertical-navigation
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation"
    [opened]="!isScreenSmall"
    class="bg-surface-dim print:hidden">
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <div class="flex items-center gap-2">
                <mat-icon class="text-primary" [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                <span class="font-bold text-lg">Renaissance</span>
            </div>
        </div>
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <mat-icon [svgIcon]="'heroicons_solid:user-circle'" class="icon-size-24 text-primary"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-4">
                <div class="font-medium text-center">Clinical User</div>
                <div class="text-secondary text-sm">Renaissance EMR</div>
            </div>
        </div>
    </ng-container>
</fuse-vertical-navigation>

<div class="flex flex-col flex-auto w-full min-w-0 mat-typography" fuseScrollReset>
    <div class="top-0 sticky flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow bg-surface-container print:hidden">
        <button (click)="toggleNavigation('mainNavigation')" mat-icon-button>
            <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
        </button>
        <div class="flex items-center pl-2 ml-auto space-x-2">
            <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        </div>
    </div>

    <div class="flex flex-col flex-auto min-h-0 layout mat-app-background" fuseScrollbar [fuseScrollbarOptions]="fuseScrollbarOptions()">
        @if (true) {
            <router-outlet></router-outlet>
        }
    </div>

    <div class="bottom-0 sticky flex flex-0 items-center justify-start w-full h-14 px-4 md:px-6 z-49 border-t bg-surface-container print:hidden">
        <span class="font-medium text-secondary">&copy; {{ currentYear }} Renaissance Clinical</span>
    </div>
</div>
