@if (ophthalmologists().length > 0) {
    <div class="space-y-4 mt-6" >
        <mat-accordion>
            @for (c of ophthalmologists(); track $index) {
                <mat-expansion-panel class="bg-white shadow rounded-lg">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="text-sm md:text-base font-medium text-blue-900">
                            Eye Service #{{$index + 1}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <mat-list>
                        <mat-list-item class="items-center">
                            <div class="w-full flex justify-between items-center">
                                <p class="font-medium">Visual Acuity (Right / Left):</p>
                                <div class="text-right">
                                    {{ c.visualAcuityRight || '-' }} / {{ c.visualAcuityLeft || '-' }}
                                    <span *ngIf="c.glassesDispensed" aria-label="Glasses Dispensed" title="Glasses Dispensed">👓</span>
                                </div>
                            </div>
                        </mat-list-item>
                    </mat-list>


                    <div class="p-4 grid grid-cols-1 md:grid-cols-2 gap-6">
                        <!-- Diagnoses -->
                        <div>
                            <h4 class="font-semibold text-gray-800 mb-1">Diagnoses</h4>
                            <ul class="list-disc list-inside text-gray-700 text-sm">
                                @for (d of c.diagnoses ?? []; track d) {
                                    <li>{{ d }}</li>
                                }
                            </ul>
                            <div>
                                <h4 class="font-semibold text-gray-800 mb-1">Others Diagnoses</h4>
                                <ul class="list-disc list-inside text-gray-700 text-sm">
                                    @for (od of c.othersDiagnosis ?? []; track od) {
                                        <li>{{ od }}</li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!-- Treatments -->
                        <div>
                            <h4 class="font-semibold text-gray-800 mb-1">Treatments</h4>
                            <ul class="list-disc list-inside text-gray-700 text-sm">
                                @for (t of c.treatments ?? []; track t) {
                                    <li>{{ t }}</li>
                                }
                            </ul>
                            <div>
                                <h4 class="font-semibold text-gray-800 mb-1">Others Treatment</h4>
                                <ul class="list-disc list-inside text-gray-700 text-sm">
                                    @for (ot of c.othersTreatment ?? []; track ot) {
                                        <li>{{ ot }}</li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!-- Surgery -->
                        <div>
                            <h4 class="font-semibold text-gray-800 mb-1">Surgery</h4>
                            <ul class="list-disc list-inside text-gray-700 text-sm">
                                @for (t of c.surgeries ?? []; track t) {
                                    <li>{{ t }}</li>
                                }
                            </ul>
                            <div>
                                <h4 class="font-semibold text-gray-800 mb-1">Others Surgery</h4>
                                <ul class="list-disc list-inside text-gray-700 text-sm">
                                    @for (ot of c.otherSurgery ?? []; track ot) {
                                        <li>{{ ot }}</li>
                                    }
                                </ul>
                            </div>
                        </div>

                        <!-- Services Referred -->
                        @if (c.referred) {
                            <div class="md:col-span-2">
                                <h4 class="font-semibold text-gray-800 mb-1">Client Referred</h4>
                            </div>
                        } @else {
                            <div class="md:col-span-2">
                                <h4 class="font-semibold text-gray-800 mb-1">Client Not Referred</h4>
                            </div>
                        }

                    </div>
                </mat-expansion-panel>
            }
        </mat-accordion>
    </div>
} @else {
    <ng-template>
        <p class="text-center text-gray-600 italic mt-6">No dental consultation records found.</p>
    </ng-template>
}




